{% extends 'base.html.twig' %}

{% block title %}Détail d'une employé{% endblock %}

{% block body %}
    <h1>Détail d'un employé</h1>

    <h2>{{ employe }}</h2>
    <p>Entreprise: 
        <a href="{{ path('details_entreprise', {'id': employe.entreprise.id})}}">
            <span>{{ employe.entreprise.raisonSociale }}</span>
        </a>
    </p>

    <p>Date création: {{ employe.dateEmbauche | date("d/m/Y")  }}</p>

{% endblock %}